@import "../../scss/utils/variables";
@import "../../scss/utils/mixins";

.tag_container {
  @include font(500, 10, 14.26);
  color: $color-white;
  height: 18px;
  background-color: $color-primary;
  border-radius: $border-radius-small;
  min-width: 84px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;

  @include breakpoint(largeScreen) {
    @include font(500, 14, 19.96);
    height: 25px;
    border-radius: $border-radius;
    min-width: 115px;
    padding: 1rem 2rem;
  }
}
