@import "../../scss/utils/variables";
@import "../../scss/utils/mixins";

$paddingX: 1rem;

.accordion {
  &_container {
    width: 100%;
    max-width: 1023px;
    margin: 2rem auto 0;

    &--big {
      .accordion_title {
        @include breakpoint(largeScreen) {
          @include font(500, 24, 34.22);
          height: 47px;
        }
      }

      .accordion_content {
        @include breakpoint(largeScreen) {
          @include font(400, 24, 34.22);
          min-height: 0;
        }
      }
    }
  }

  &_title {
    @include font(500, 13, 18.54);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $color-white;
    height: 30px;
    background-color: $color-primary;
    border-radius: $border-radius-small;
    padding: $paddingX;


    @include breakpoint(largeScreen) {
      @include font(500, 18, 25.67);
      border-radius: $border-radius;
      height: 52px;
    }

    svg {
      width: 8.98px;
      height: 15.22px;

      @include breakpoint(largeScreen) {
        width: 14.06px;
        height: 23.86px;
      }
    }
  }

  &_content {
    @include font(400, 12, 17.11);
    width: inherit;
    background-color: $color-grey1;
    padding: $paddingX;
    padding-top: 30px;
    border-radius: $border-radius-small;
    margin-top: -15px;

    @include breakpoint(largeScreen) {
      @include font(400, 18, 25.67);
      padding: 2rem $paddingX;
      min-height: 249px;
      border-radius: $border-radius;
    }
  }
}
